<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Jihanki test suite">
            <directory suffix="Test.php">./tests/Jihanki/Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/Jihanki/</directory>
        </whitelist>
    </filter>
</phpunit>
